.Modal {
    position: fixed;
    /* z-index: 500; */
    background-color: white;
    width: 50%;
    height: 36%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px black;
    padding: 5px;
    left: 25%;
    top:25%;
    box-sizing: border-box;
    text-align: center;
    
}